.menu {
	border: 1px solid #957a6b; 
	
	margin: 2%;
  
}
.content{
	border: 1px solid #957a6b; 
	background-color: #957a6b;
	margin: 2%;
}
.content1{
	border: 1px solid #957a6b; 
	background-color: #957a6b;
	margin: 2%;
  text-align: center;
  font-size:21px ;
}
.publicatiiimg{
  width: 40%;
  height: 40%;
}
.row{
  display: table-row;
  width: 100%;
}
.item{
  display: table-cell;
}
.text{
  font-size: 18px;
  text-align: justify;
  margin-top: 1%;
}
.menuitem{
  width: 20%;
  text-align: center;
  font-size: 20px;
  background-color: #957a6b;
}
.active{
   width: 20%;
   text-align: center;
   font-size: 20px;
   background-color: #6b574d;
   color: aliceblue;
}
.navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #0066FF;
        border-radius: 20px 5px;
        width: 550px;
        text-align: center;
        background-color: #33ADFF;
      }
      .navbar li { display: inline; }
      .navbar a {
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 100px;
      }
      .navbar a:hover {
        border-radius: 20px 5px;
        background-color: #0066FF;
      }
      .gallery {
        float:left;

      }
  a{
    text-decoration: none;
    color: #fff;
  }
  .content{
    padding: 2%;
  }